/*  Pre-made CSS  */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Containers */

.container-wrapper--red {
    background-color: #bb4228; /* Changed colour from original */
    color: white;
}

.full-band {
    height: 100vh;
    background: url('../assets/monkees.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .95);
    border: 0;
    border-radius: 0; /* My code */
    color: white;
}

/* Landing page text */

.landing-highlight {
    background-color: transparent;
    color: white;
}

.landing-highlight h2 {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0; /* My code */
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

/* songs */

.songs .page-header {
    margin-bottom: 25px;
}


/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
}

/*  End of pre-built CSS  */




/*  New CSS  */

a, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}

/* Navbar */

.navbar-menu{
    display: none;
}

@media(min-width:820px){
    .navbar-menu{
        display: block;
    }
    
    .navbar-dropdown{
        display: none;
    }
}

.navbar-limiter{
    max-width: 1140px;
    margin: auto auto;
    float: none;
}

.fa-2x{
    float: right;
    padding: 11px 1px 11px;
    color: #fafafa;
    cursor: pointer;
}

.fa-2x:hover{
    color: #6b6b6b;
}

.dropdown-menu{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #232323;
    min-width: 160px;
    margin-top: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
}

.navbar-dropdown:hover .dropdown-menu{
    display: block;
    left: -15px;
    margin-top: 48px;
    text-align: left;
    width: 110%;
}

.dropdown-menu a{
    display: block;
    text-decoration: none;
    color: #fafafa;
    font-family: "Noto Serif KR", sans-serif;
    font-weight: 500;
    padding: 15px 0 15px 45px;
    font-size: large;
}

.dropdown-menu a:nth-child(even) {
  background: #3a3a3a;
}

.dropdown-menu a:hover{
    background-color: rgba(0,0,0,0.5);
}

.navbar-header{
    float: left;
    margin-right: 20px;
}

.navbar-default .navbar-brand{
    color: white;
    margin-right: 30px
}

.can-touch .navbar-default .navbar-brand:hover{
    color: white;
}

/* Meet the band */

.band-member{
    text-align: center;
    margin-top: 20px;
}

.band-member img{
    height: 100px;
    border-radius: 10px;
}

.band-member p{
    text-align: left;
}

/* Song list */

.video-media{
    width: 100%;
    height: 40vw;
    margin-bottom: 20px;
}

@media(min-width:900px){
    .video-media{
        height: 360px;
    }
}

.audio-content{
    margin-bottom: 25px;
    text-align: center;
}

.repertoire{
    height: 830px;
    text-align: center;
}

.song-list{
    height: 772px;
    overflow-y: scroll;
    text-align: left;
}

ul{
    list-style: none;
}

.song-list ul li{
    font-size: 1.4em;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    border-top: solid #a6a6a6 0.5px;
}

/* Forms */

form input, form select, form option{
    color: black;
    width: 100%;
}

form{
    font-size: 13px;
}

form .row div{
    margin-bottom: 5px;
}

.unshift{
    left: 0%;
}

form .row div textarea{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    color: black;
}

@media(min-width:384px){
    .unshift{
        left: 33.3333333%;
    }
}

.submit{
    width: 130px;
    color: black;
}